<h2>New Student</h2>
<%= form_for :student, url: students_path do |f| %>
  <% if(@student.errors.any?) %>
    <% @student.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    Name<br>
    <%= f.text_field(:surname, { :class => 'form-control' }) %>
  </p>

  <p>
    Street<br>
    <%= f.text_field(:group, { :class => 'form-control' }) %>
  </p>
  <p>
    House<br>
    <%= f.text_field(:geometryMark, { :class => 'form-control' }) %>
  </p>
  <p>
    Flat<br>
    <%= f.text_field(:algebraMark, { :class => 'form-control' }) %>
  </p>
  <p>
    GroupId<br>
    <%= f.text_field(:Session_id, { :class => 'form-control' }) %>
  </p>
  <p>
    <%= f.submit({ :class => 'btn btn-success' }) %>
  </p>
<% end %>